# Hello, world!

In [1]:
print "hello, world!"

hello, world!

In [2]:
# person = raw_input("Enter your name: ")
# print "hello, " + person

# Constants

In [3]:
# integer
2

2

In [4]:
# type of integer
type(2)

int

In [5]:
# float
1.0

1.0

In [6]:
# type of float
type(1.0)

float

In [7]:
# string
"A"

'A'

In [8]:
# also a string
'A'

'A'

In [9]:
# type of string
type("A")

str

In [10]:
# list
[1, 2, 3]

[1, 2, 3]

In [11]:
# type of list
type([1, 2, 3])

list

# Basic arithmetic

In [12]:
# addition
1 + 1

2

In [13]:
# multiplication
2 * 3

6

In [14]:
# integer division (!!!)
2 / 3

0

In [15]:
# modulo
3 % 2

1

In [16]:
# division
2.0 / 3

0.6666666666666666

In [17]:
# power
2 ** 3

8

# Operators

In [18]:
# import a library
import math
print math.pi

3.14159265359

In [19]:
# assignment
x = 5
print x

5

In [20]:
# comparison
2 == 3

False

In [21]:
# for loop
for i in range(1, 10):
    print i
    
# note that the range(1, 10) includes 1 but not 10

1
2
3
4
5
6
7
8
9

In [22]:
for i in [1, 2, 3]: print i

1
2
3

In [23]:
# if statement
for i in range(1, 10):
    if i % 2 == 0:
        print i

2
4
6
8

In [24]:
# while loop
i = 0
while i < 10:
    print i
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [25]:
# ternary operator (x if condition else y)
x = 5
"A" if x == 5 else "B"

'A'

In [26]:
# functions
def fib(x):
    if x <= 1:
        return 1
    else:
        return fib(x-1) + fib(x-2)
    
# fibonacci sequence: 1 1 2 3 5 8 13 ...
print fib(5)

8